<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<div th:replace="~{fragments/head :: head(${pageTitle})}"></div>
<body class="ui-background">
<fbauth-element headless>
    <div>
        <header th:replace="~{fragments/header :: header(${activePage})}"></header>
        <div layout="layout-sidebar">
            <div class="sidebar-grid-area">
                <section class="ui-panel-title title-small">Dinosaur</section>
                <nav class="ui-panel">
                    <ul class="ui-navbar-nav">
                        <button class="ui-nav-item ui-button" type="button"><a href="/Dinosaur/create">Create New</a>
                        </button>
                    </ul>
                </nav>
            </div>
            <div class="ga-content-main">
                <main>
                    <div class="ui-table" role="region" tabindex="0">
                        <table>
                            <thead>
                            <tr>
                                <th scope="col">Weight:</th>
                                <th scope="col">Color:</th>
                                <th scope="col">Length:</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="dinosaur: ${dinosaurs}">
                                <td><span th:text="${dinosaur.weight}"></span></td>
                                <td><span th:text="${dinosaur.color}"></span></td>
                                <td><span th:text="${dinosaur.length}"></span></td>
                                <td>
                                    <a th:href="@{/Dinosaur/update/{id}(id=${dinosaur.id})}">
                                        <i class="fa-solid fa-pen-to-square"
                                           style="color: var(--primary); font-size:20px; font-weight:100"></i>
                                    </a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </main>
            </div>
        </div>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</fbauth-element>

<div th:replace="~{fragments/authscript :: script}"></div>
<div th:replace="~{fragments/themeswitchscript :: script}"></div>
</body>
</html>









