<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<div th:replace="~{fragments/head :: head(${pageTitle})}"></div>
<body class="ui-background">
<fbauth-element headless>
    <div>
        <header th:replace="~{fragments/header :: header(${activePage})}"></header>
        <div layout="layout-sidebar">
            <div class="sidebar-grid-area">
                <section class="ui-panel-title title-small">Dinosaur</section>
                <nav class="ui-panel">
                    <ul class="ui-navbar-nav">
                        <button class="ui-nav-item ui-button" type="button"><a href="/Dinosaur/create">Create New</a>
                        </button>
                        <button class="ui-nav-item ui-button" type="button"><a aria-current="page"
                                                                               href="/dinosaur/">Back</a></button>
                    </ul>
                </nav>
            </div>
            <div class="ga-content-main">
                <main>
                     <form action="/Dinosaur/update" class="ui-form" method="post">
    					<input name="id" th:field="${dinosaur.id}" type="hidden"/>
    					<div class="ui-input-field">
        					<label class="ui-label">Weight:</label>
        					<div class="ui-text-input">
            					<input class="ui-value" th:field="${dinosaur.weight}" type="text"/>
        					</div>
        					<label class="ui-label">Color:</label>
        					<div class="ui-text-input">
            					<input class="ui-value" th:field="${dinosaur.color}" type="text"/>
        					</div>
        					<label class="ui-label">Length:</label>
        					<div class="ui-text-input">
            					<input class="ui-value" th:field="${dinosaur.length}" type="text"/>
        					</div>
    					</div>
    					<button class="ui-nav-item ui-button" type="submit"><span>Update</span></button>
					</form>
					<form action="/Dinosaur/delete" class="ui-form" method="post" style="padding-top:0;">
    					<input th:field="${dinosaur.id}" type="hidden"/>
    					<button class="ui-nav-item ui-button-danger" type="submit"><span>Delete</span></button>
					</form>
                     
                </main>
            </div>
        </div>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</fbauth-element>

<div th:replace="~{fragments/authscript :: script}"></div>
<div th:replace="~{fragments/themeswitchscript :: script}"></div>
</body>

</html>